@model raktar.Models.Kereses

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form>
    <div class="row">
        <div class="form-floating mb-3 col-md-6">
            <input asp-for="ElnevKeres" class="form-control" id="floatingInput" placeholder="Elnevezés">
            <label asp-for="ElnevKeres" class="ms-1">Elnevezés</label>
        </div>
        <div class="form-floating mb-3 col-md-6">
            <select class="form-select" id="floatingSelect" aria-label="Kategória" asp-for="KategoriaKeres" asp-items="Model.KategoriaLista">
                <option value="">Összes kategória</option>
            </select>
            <label for="floatingSelect">Kategória</label>
        </div>
        <div class="row justify-content-between m-0">
            <button type="submit" class="btn btn-success shadow-lg mb-3 col-md-5">Search</button>
            <button asp-action="create" class="btn btn-success shadow-lg mb-3 col-md-5">Create new</button>
        </div>
    </div>
</form>

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AdomanyLista[0].Elnevezes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdomanyLista[0].Kategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdomanyLista[0].CsomEgyseg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdomanyLista[0].Darab)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AdomanyLista)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Elnevezes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kategoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CsomEgyseg)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Darab)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

<div class="shadow-lg rounded-3">
    <table id="teachers">
        <thead role="rowgroup">
            <tr role="row">
                <th role="columnheader">@Html.DisplayNameFor(model => model.AdomanyLista[0].Elnevezes)</th>
                <th role="columnheader">@Html.DisplayNameFor(model => model.AdomanyLista[0].Kategoria)</th>
                <th role="columnheader">@Html.DisplayNameFor(model => model.AdomanyLista[0].CsomEgyseg)</th>
                <th role="columnheader">@Html.DisplayNameFor(model => model.AdomanyLista[0].Darab)</th>
            </tr>
        </thead>
        @foreach (var item in Model.AdomanyLista)
        {
            <tbody role="rowgroup">
                <tr role="row">
                    <td>@Html.DisplayFor(modelItem => item.Elnevezes)</td>
                    <td>@Html.DisplayFor(modelItem => item.Kategoria)</td>
                    <td>@Html.DisplayFor(modelItem => item.CsomEgyseg)</td>
                    <td>@Html.DisplayFor(modelItem => item.Darab)</td>
                    <td>
                        <a class="text-black text-decoration-none" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="text-black text-decoration-none" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="text-black text-decoration-none" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>


@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Elnevezes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CsomEgyseg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Darab)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Elnevezes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CsomEgyseg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Darab)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
